body {
  background-color: rgb(65,65,65);
  height: 100vh;
  width: 100vw
}

*, option {
  font-family: 'Press Start 2P';
}
::placeholder {
  color: black
}

.error {
  color: crimson;
  animation: error 1s infinite;
  font-size: 2rem;
}

@keyframes error{
  0%{color: white}
  100%{color: red;}
  }